{#
/**
 * @file
 * Template for archived media placeholder.
 *
 * Replaces embedded media (videos, documents) that have been archived
 * with a notice and link to the Archive Detail Page.
 *
 * Available variables:
 * - notice_message: The notice about archiving for reference purposes.
 * - accessibility_message: The accessibility request notice (shown as tooltip).
 * - archive_url: The URL to the archive detail page.
 * - media_name: The name of the media item.
 * - media_type: The type of media ('video' or 'document').
 * - extra_attributes: Any additional attributes to preserve.
 */
#}
<div class="dai-archived-media-placeholder"{{ extra_attributes ? ' ' ~ extra_attributes|raw : '' }}>
  <div class="dai-archived-media-header">
    <a href="{{ archive_url }}" class="dai-archived-media-title" title="{{ accessibility_message }}">{{ media_name }} <span class="dai-archived-label">({{ 'Archived'|t }})</span></a>
  </div>
  <div class="dai-archived-media-body">
    <p class="dai-archived-media-notice">
      <svg class="dai-archived-info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor" aria-hidden="true">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/>
      </svg>
      {{ notice_message }}
    </p>
  </div>
</div>
